<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="HTTP to Prod HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>


