head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/64d58efce2.js', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/styles/auth.css')
  title Sign in - Sign up Form
.container.sign-up-mode
  .forms-container
    .signin-signup
      form.sign-up-form(action='/signup', method='post')
        h2.title Sign up
        .input-field
          i.fas.fa-envelope
          input(type='email', name='email', placeholder='Email')
        .input-field
          i.fas.fa-lock
          input(type='password', name='password', placeholder='Password')
        .input-field
          i.fas.fa-lock
          input(type='password', name='rePassword', placeholder='Confirm Password')
        input.btn(type='submit', value='Sign up')
        p.social-text Or Sign up with social platforms
        .social-media
          a.social-icon(href='#')
            i.fab.fa-facebook-f
          a.social-icon(href='#')
            i.fab.fa-twitter
          a.social-icon(href='#')
            i.fab.fa-google
          a.social-icon(href='#')
            i.fab.fa-linkedin-in
  .panels-container
    .panel.left-panel
      .content
    .panel.right-panel
      .content
        h3 One of us ?
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          | laboriosam ad deleniti.
        button#sign-in-btn.btn.transparent(onclick="location.href='/login'") Sign in
